.gallery {
  display: inline-block;
  border: 1px solid hsl(0, 0%, 60%);
  margin: 5px;
  width: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
}
.gallery .description {
  padding: 10px;
  text-align: center;
  color: #ffdf00;
  background-color: #d67229;
}
.gallery .hover {
  border: 1px solid hsl(0, 0%, 20%);
}
.gallery img {
  width: 100%;
  height: auto;
}
