.menu1 {
  margin: 2rem 0;
}
.menu-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}
img {
  width: 100%;
  display: block;
}
.menu-head {
  text-align: center;
}
.menu-head h2 {
  font-family: Titillium Web, sans-serif;
  font-size: 2.6rem;
}
.menu-head p {
  font-weight: 300;
  padding: 1.8rem 0;
}
.menu-btns {
  padding: 0.6rem 0;
  display: flex;
  justify-content: center;
}
.menu-btn {
  font-family: Shantell Sans, cursive;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  background: none;
  border: none;
  color: #ff9505;
  display: block;
  margin: 0 1rem;
  cursor: pointer;
  outline: 0;
  transition: opacity 0.4s ease-out;
}
.menu-btn::after {
  content: "";
  display: block;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background: #ff9505;
  margin-top: 0.5rem;
  width: 0;
  transition: width 0.4s ease-out;
}
.menu-btn:hover::after {
  width: 100%;
}
.menu-btn:hover {
  opacity: 0.8;
}
.color {
  color: #ffdf00;
}
.active-btn {
  color: #fff;
}
.food-items {
  margin: 2rem 0;
}
.food-item {
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  color: #000;
  margin: 0.6rem 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.food-img img {
  border-radius: 4px;
}
.food-content {
  padding: 1rem;
}
.food-name {
  font-family: Titillium Web, sans-serif;
  color: #ff9505;
  font-weight: 500;
  text-transform: capitalize;
}
.line {
  width: 100px;
  height: 3px;
  background: #ff9505;
}
.food-price {
  padding: 0.4rem 0;
  font-weight: 600;
  font-size: 1.4rem;
}

.category {
  padding-top: 0.2rem;
  font-size: 1rem;
  font-weight: 800;
  font-family: Shantell Sans, cursive;
}
.category span {
  font-weight: 500;
}
.container1 {
  float: right;
}

.menu-btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 20px 30px;
  font-family: Shantell Sans, cursive;
  color: #0c3f08;
  background: linear-gradient(orange, #e9b367, #f0b768);
  box-shadow: 2px 2px 5px black;
  height: 40px;
  width: 120px;
}

#cart {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  max-width: 400px;
  margin: 20px auto;
  width: 250px;
}

.underline {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  margin-top: 15px;
  font-weight: bold;
}

#cart-total {
  color: #e44d26;
}

/* Cart icon styles */
#cart-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #e44d26;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#cart-icon span {
  margin-left: 5px;
}

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 60px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.9);
        }

        .modal-content {
            margin: auto;
            display: block;
             max-width: 50%; /*Adjust the maximum width as needed */
            max-height: 80vh; /* Adjust the maximum height as needed */
        }

        .modal-content img {
            width: 50%;
            height: auto;
        }

        .close{
          cursor: pointer;
        }

@media (max-width: 600px) {
  #cart {
    max-width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .food-item {
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding: 1rem;
    column-gap: 1rem;
  }
  .food-content {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-head p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 992px) {
  .menu-head p {
    width: 50%;
  }
  .food-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
